<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar Póliza</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="centered-form">
    <form action="/add_poliza" method="POST" enctype="multipart/form-data">
      <h1>Agregar Póliza de Seguro</h1>
      <label for="numero">N° de Póliza:</label>
      <input type="text" id="numero" name="numero" required /><br /><br />

      <label for="tipo_asegurado">Tipo de Asegurado:</label>
      <select id="tipo_asegurado" name="tipo_asegurado" required>
        <option value="Cliente">Cliente</option>
        <option value="Empresa">Empresa</option></select
      ><br /><br />

      <label for="fecha_inicio">Fecha de Inicio:</label>
      <input
        type="date"
        id="fecha_inicio"
        name="fecha_inicio"
        required
      /><br /><br />

      <label for="fecha_termino">Fecha de Término:</label>
      <input
        type="date"
        id="fecha_termino"
        name="fecha_termino"
        required
      /><br /><br />

      <label for="monto">Monto:</label>
      <input
        type="number"
        step="0.01"
        id="monto"
        name="monto"
        required
      /><br /><br />

      <label for="adjunto_poliza">Adjunto de la Póliza:</label>
      <input
        type="file"
        id="adjunto_poliza"
        name="adjunto_poliza"
        accept=".pdf"
      /><br /><br />

      <button type="submit">Guardar</button>
      <a href="/polizas"><button type="button">Cancelar</button></a>
    </form>
  </body>
</html>
