<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Fondo Mutuo</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body class="centered-form">
    <form action="" method="POST" enctype="multipart/form-data">
      <h1>Editar Fondo Mutuo</h1>

      <label for="nombre_empresa">Empresa:</label>
      <select id="nombre_empresa" name="nombre_empresa" required>
          {% for empresa in empresas %}
          <option value="{{ empresa[0] }}" {% if empresa[0] == fondo.ID_Empresa %}selected{% endif %}>
              {{ empresa[1] }}
          </option>
          {% endfor %}
      </select>
      <br /><br />

      <label for="nombre_banco">Banco:</label>
      <select id="nombre_banco" name="nombre_banco" required>
        <option value="" disabled>Seleccione un banco</option>
        {% for banco in bancos %}
        <option value="{{ banco[0] }}" {% if banco[0] == fondo[10] %} selected {% endif %}>
          {{ banco[1] }}
        </option>
        {% endfor %}
      </select>
      <br /><br />

      <label for="nombre_fondo">Nombre del Fondo:</label>
      <input
        type="text"
        id="nombre_fondo"
        name="nombre_fondo"
        value="{{ fondo[2] }}"
        required
        style="text-transform: uppercase"
      />
      <br /><br />

      <label for="monto_invertido">Monto Invertido:</label>
      <input
        type="number"
        id="monto_invertido"
        name="monto_invertido"
        step="0.01"
        value="{{ fondo[3] }}"
        required
      />
      <br /><br />

      <label for="monto_final">Monto Final:</label>
      <input
        type="number"
        id="monto_final"
        name="monto_final"
        step="0.01"
        value="{{ fondo[4] }}"
      />
      <br /><br />

      <label for="riesgo">Riesgo:</label>
      <select id="riesgo" name="riesgo" required>
        <option value="Bajo" {% if fondo[4] == "Bajo" %} selected {% endif %}>Bajo</option>
        <option value="Medio" {% if fondo[4] == "Medio" %} selected {% endif %}>Medio</option>
        <option value="Alto" {% if fondo[4] == "Alto" %} selected {% endif %}>Alto</option>
      </select>
      <br /><br />

      <label for="fecha_inicio">Fecha de Inicio:</label>
      <input
        type="date"
        id="fecha_inicio"
        name="fecha_inicio"
        value="{{ fondo[6] }}"
        required
      />
      <br /><br />

      <label for="fecha_termino">Fecha de Término:</label>
      <input
        type="date"
        id="fecha_termino"
        name="fecha_termino"
        value="{{ fondo[7] }}"
      />
      <br /><br />

      <label for="comprobante">Comprobante:</label>
      <input
        type="file"
        id="comprobante"
        name="comprobante"
        accept=".pdf"
      />
      <br /><br />

      <button type="submit">Guardar Cambios</button>
      <button type="button" onclick="location.href='/fondos_mutuos'">
        Cancelar
      </button>
    </form>
  </body>
</html>
