<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <h1>Clientes</h1>

    <!-- Botón para agregar un nuevo banco -->
    <a href="/clientes/add"><button>Agregar Clientes</button></a>

    <br /><br />

    <!-- Tabla de bancos -->
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Rut</th>
          <th>Nombre</th>
          <th>Fono Movil</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
        <tr>
          <td>{{ cliente[0] }}</td>
          <td>{{ cliente[1] }}</td>
          <td>{{ cliente[2] }}</td>
          <td>{{ cliente[3] }}</td>
          <td>{{ cliente[4] }}</td>
          <td>
            <!-- Botón para editar -->
            <a href="/clientes/edit/{{ cliente[0] }}"
              ><button>Editar</button></a
            >

            <!-- Botón para eliminar -->
            <form
              action="{{ url_for('delete_cliente', id_cliente=cliente[0]) }}"
              method="POST"
              style="display: inline"
              onsubmit="return confirm('¿Estás seguro de que deseas eliminar este cliente?');"
            >
              <button type="submit" style="background-color: red; color: white">
                Eliminar
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <br />
    <a href="/"><button>Volver al Inicio</button></a>
  </body>
</html>
