<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Compañia</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body class="centered-form">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Sistema de Inversiones</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <!-- Menú Desplegable -->
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Ingresos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/bancos">Bancos</a></li>
                <li><a class="dropdown-item" href="/empresas">Empresas</a></li>
                <li><a class="dropdown-item" href="/corredores">Corredores de Bolsa</a></li>
                <li><a class="dropdown-item" href="/companias">Compañías de Seguro</a></li>
                <li><a class="dropdown-item" href="/clientes">Clientes</a></li>
                <li><a class="dropdown-item" href="/parametros">Parámetros</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Inversiones
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/acciones">Acciones</a></li>
                <li><a class="dropdown-item" href="/fondos_mutuos">FFMM</a></li>
                <li><a class="dropdown-item" href="/deposito_a_plazo">DP</a></li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="/boletas_garantia"
                >Boletas de Garantia</a
              >
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="/polizas">Polizas de Seguro</a>
            </li>
          </ul>
          <!-- Enlace al lado derecho -->
          </ul>
          <!-- Enlace al lado derecho -->
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <form
      action="{{ url_for('companias_bp.edit_compania', id_compania=id_compania) }}"
      method="POST"
    >
      <h1>Editar Compañia</h1>
      <label for="rut">Rut:</label>
      <input
        type="text"
        id="rut"
        name="rut"
        value="{{ compania[0] }}"
        required
      /><br /><br />

      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        value="{{ compania[1] }}"
        required
      /><br /><br />

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        value="{{ compania[2] }}"
      /><br /><br />

      <label for="fono_fijo">Fono Fijo:</label>
      <input
        type="text"
        id="fono_fijo"
        name="fono_fijo"
        value="{{ compania[3] }}"
      /><br /><br />

      <label for="fono_movil">Fono Móvil:</label>
      <input
        type="text"
        id="fono_movil"
        name="fono_movil"
        value="{{ compania[4] }}"
      /><br /><br />

      <button type="submit">Guardar Cambios</button>
      <button type="button" onclick="location.href='/companias'">Volver</button>
    </form>
  </body>
</html>
