<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Factura</title>
    <script
      src="{{ url_for('static', filename='js/calcularSubTotal.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/calcularValorTotal.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/entidades.js') }}"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body class="centered-form">
    <form method="POST">
      <h1>Editar Factura</h1>
      <label for="numero_actual">Número Actual de Factura:</label>
      <input
        type="text"
        id="numero_actual"
        name="numero_actual"
        value="{{ factura[0] }}"
        readonly
      /><br /><br />

      <label for="nuevo_numero">Nuevo Número de Factura:</label>
      <input
        type="text"
        id="nuevo_numero"
        name="nuevo_numero"
        value="{{ factura[0] }}"
        required
        pattern="\d+"
        oninput="this.value = this.value.replace(/[^0-9]/g, '');"
      /><br /><br />

      <label for="tipo_entidad">Tipo de Entidad:</label>
      <select id="tipo_entidad" name="tipo_entidad" required onchange="cargarEntidades(this.value)">
        <option value="" disabled selected>Seleccione el tipo de entidad</option>
        {% for tipo in tipos_entidad %}
        <option value="{{ tipo }}" {% if tipo == factura[7] %}selected{% endif %}>{{ tipo }}</option>
        {% endfor %}
      </select>
      <br /><br />

      <label for="nombre_entidad">Nombre de la Entidad:</label>
      <select id="nombre_entidad" name="nombre_entidad" required>
        {% for entidad in entidades %}
        <option value="{{ entidad[0] }}" {% if entidad[0] == factura[8] %}selected{% endif %}>
          {{ entidad[1] }}
        </option>
        {% endfor %}
      </select>
      <br /><br />

      <label for="nombre_activo">Nombre Activo:</label>
      <input
        type="text"
        id="nombre_activo"
        name="nombre_activo"
        value="{{ factura[1] }}"
        required
        style="text-transform: uppercase"
        oninput="this.value = this.value.toUpperCase();"
      /><br /><br />

      <label for="tipo">Tipo:</label>
      <select id="tipo" name="tipo" required>
          <option value="Compra" {% if factura[2] == 'Compra' %}selected{% endif %}>Compra</option>
          <option value="Venta" {% if factura[2] == 'Venta' %}selected{% endif %}>Venta</option>
      </select><br /><br />

      <label for="fecha">Fecha:</label>
      <input
        type="date"
        id="fecha"
        name="fecha"
        value="{{ factura[3] }}"
        required
      /><br /><br />

      <label for="cantidad">Cantidad:</label>
      <input
        type="number"
        step="1"
        min="1"
        id="cantidad"
        name="cantidad"
        value="{{ factura[4] }}"
        oninput="calcularSubtotal(); calcularValortotal()"
        required
      /><br /><br />

      <label for="precio_unitario">Precio Unitario:</label>
      <input
        type="number"
        step="0.01"
        id="precio_unitario"
        name="precio_unitario"
        value="{{ factura[9] }}"
        oninput="calcularSubtotal(); calcularValortotal()"
        required
      /><br /><br />

      <label for="comision">Comisión:</label>
      <input
        type="number"
        step="0.01"
        id="comision"
        name="comision"
        value="{{ factura[5] }}"
        oninput="calcularValortotal()"
        required
      /><br /><br />

      <label for="gasto">Gasto:</label>
      <input
        type="number"
        step="0.01"
        id="gasto"
        name="gasto"
        value="{{ factura[6] }}"
        oninput="calcularValortotal()"
        required
      /><br /><br />

      <label for="subtotal">Sub Total:</label>
      <input
        type="text"
        id="subtotal"
        name="subtotal"
        value="{{ factura[11] }}"
        oninput="calcularValortotal()"
        readonly
      /><br /><br />

      <label for="valor_total">Valor Total:</label>
      <input
        type="number"
        step="0.01"
        id="valor_total"
        name="valor_total"
        value="{{ factura[10] }}"
        readonly
        required
      /><br /><br />

      <button type="submit">Guardar Cambios</button>
      <button type="button" onclick="location.href='/listado_facturas'">
        Cancelar
      </button>
    </form>
  </body>
</html>
