<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de Facturas</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      defer
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Sistema de Inversiones</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <!-- Menú Desplegable -->
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Ingresos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/bancos">Bancos</a></li>
                <li><a class="dropdown-item" href="/empresas">Empresas</a></li>
                <li><a class="dropdown-item" href="/corredores">Corredores de Bolsa</a></li>
                <li><a class="dropdown-item" href="/companias">Compañías de Seguro</a></li>
                <li><a class="dropdown-item" href="/clientes">Clientes</a></li>
                <li><a class="dropdown-item" href="/parametros">Parámetros</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Inversiones
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/acciones">Acciones</a></li>
                <li><a class="dropdown-item" href="/fondos_mutuos">FFMM</a></li>
                <li><a class="dropdown-item" href="/deposito_a_plazo">DP</a></li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="/boletas_garantia"
                >Boletas de Garantia</a
              >
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="/polizas">Polizas de Seguro</a>
            </li>
          </ul>
          <!-- Enlace al lado derecho -->
          </ul>
          <!-- Enlace al lado derecho -->
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 class="ms-3">Facturas</h1>
    <a href="/add_factura">
      <button class="btn btn-primary mx-3">Agregar Factura</button>
    </a>
    <br /> <br />
    <!-- Tabla Principal -->
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">
            <a
              href="?sort_by=NumeroFactura&order={{ 'asc' if sort_by != 'NumeroFactura' or order == 'desc' else 'desc' }}" class="text-decoration-none text-light"
              >N° Factura</a
            >
          </th>
          <th scope="col">
            <a
              href="?sort_by=NombreEntidad&order={{ 'asc' if sort_by != 'NombreEntidad' or order == 'desc' else 'desc' }}" class="text-decoration-none text-light"
              >Empresa Emisora</a
            >
          </th>
          <th scope="col">
            <a
              href="?sort_by=NombreEntidad&order={{ 'asc' if sort_by != 'NombreEntidad' or order == 'desc' else 'desc' }}" class="text-decoration-none text-light"
              >Corredora</a
            >
          </th>
          <th scope="col">
            <a
              href="?sort_by=NombreActivo&order={{ 'asc' if sort_by != 'NombreActivo' or order == 'desc' else 'desc' }}" class="text-decoration-none text-light"
              >Nombre Activo</a
            >
          </th>
          <th>
            <a
              href="?sort_by=Tipo&order={{ 'asc' if sort_by != 'Tipo' or order == 'desc' else 'desc' }}" class="text-decoration-none text-light"
              >Tipo</a
            >
          </th scope="col">
          <th>
            <a
              href="?sort_by=Fecha&order={{ 'asc' if sort_by != 'Fecha' or order == 'desc' else 'desc' }}" class="text-decoration-none text-light"
              >Fecha</a
            >
          </th>
          <th scope="col">
            <a
              href="?sort_by=Cantidad&order={{ 'asc' if sort_by != 'Cantidad' or order == 'desc' else 'desc' }}" class="text-decoration-none text-light"
              >Cantidad</a
            >
          </th>
          <th scope="col">
            <a
              href="?sort_by=PrecioUnitario&order={{ 'asc' if sort_by != 'PrecioUnitario' or order == 'desc' else 'desc' }}" class="text-decoration-none text-light"
              >Precio Unitario</a
            >
          </th>
          <th scope="col">
            <a
              href="?sort_by=SubTotal&order={{ 'asc' if sort_by != 'SubTotal' or order == 'desc' else 'desc' }}" class="text-decoration-none text-light"
              >Sub Total</a
            >
          </th>
          <th scope="col">
            <a
              href="?sort_by=Valor&order={{ 'asc' if sort_by != 'Valor' or order == 'desc' else 'desc' }}" class="text-decoration-none text-light"
              >Valor Total</a
            >
          </th>
          <th scope="col">Factura</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for factura in facturas %}
        <tr>
          <td scope="row">{{ factura[0] }}</td> <!-- Número de Factura -->
          <td>{{ factura[1] }}</td> <!-- Nombre de la Empresa Emisora -->
          <td>{{ factura[2] }}</td> <!-- Corredora -->
          <td>{{ factura[3] }}</td> <!-- Nombre Activo -->
          <td>{{ factura[4] }}</td> <!-- Tipo -->
          <td>{{ factura[5] }}</td> <!-- Fecha -->
          <td>{{ "{:,.2f}".format(factura[6]).replace(',', '.') }}</td> <!-- Cantidad -->
          <td>{{ "{:,.2f}".format(factura[7]).replace(',', '.') }}</td> <!-- Precio Unitario -->
          <td>{{ "{:,.2f}".format(factura[8]).replace(',', '.') }}</td> <!-- Sub Total -->
          <td>{{ "{:,.2f}".format(factura[9]).replace(',', '.') }}</td> <!-- Valor Total -->
          <td class="text-center">
            {% if factura[10] %}
            <a
              href="{{ factura[10] | replace('\\', '/') }}"
              target="_blank"
              class="view-file text-decoration-none text-danger fs-3"
              title="Abrir archivo PDF"
              ><i class="fa-solid fa-file-pdf"></i
            ></a>
            {% else %} <span class="no-file">Sin archivo</span> {% endif %}
          </td>
          <td>
            <a
              href="/edit_factura/{{ factura[0] }}"
              class="edit-action text-decoration-none text-info"
              title="Editar Factura"
            >
              <i class="fa-solid fa-edit"></i> Editar
            </a>
            |
            <a
              href="/eliminar_factura/{{ factura[0] }}"
              class="delete-action text-decoration-none text-danger"
              title="Eliminar Factura"
              onclick="return confirm('¿Está seguro de eliminar esta factura?');"
            >
              <i class="fa-solid fa-trash"></i> Eliminar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    

    <br />
    <a href="/acciones">
      <button class="btn btn-primary mx-3">Volver</button>
    </a>
  </body>
</html>
